body {
    margin: 0 auto;
    max-width: 60em;
    font-family: Garuda;
    color: #555;
    justify-content: center;
    text-align: center;
}

h4{
    text-decoration: underline;
    color: #333;
}
#day0 {
    border: 2px solid #EC6E4C;
}
#day1{
    border: 2px solid #EC6E4C;
}

#day2{
    border: 2px solid #EC6E4C;
}

#day3{
    border: 2px solid #EC6E4C;
}

#day4{
    border: 2px solid #EC6E4C;
}
#flexContainer{
    display:flex;
    text-align:center;
    justify-content: center;

}

img{
    padding: 10vw 2em;
}
