body {
    margin: 0 auto;
    max-width: 60em;
    font-family: Garuda;
    color: #555;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

h4{
    text-decoration: underline;
    color: #333;
}

#flexContainer{
    display:flex;
    text-align:center;
    justify-content: space-between;
    margin-bottom:25px;
    height:350px;

}

img{

    filter: brightness(70%);
    padding: 5vw 2em;

}
#input{
    height:60px;
    width:350px;
    border: 4px solid #333;
    text-align: center;
}

button{
    height:70px;
    width:150px;
}
.day   {
    border: 4px solid #EC6E4C;
    height: 280px;
    width:155px;
}